mixin project-card(index, projectName, category)
  li(class="hidden-xs col-sm-6 col-md-4 col-lg-3 project-card #{category}" data-desc-index="#{index}")
    .content
      //- insert image here
      p #{projectName}

mixin global-nav-item(name, href)
  li: a(href="#{href}") #{name}

mixin project-nav-item(title, category)
  li: a.goth.nav-item(data-category="#{category}" href="#") #{title}


mixin project-card-mobile(index, projectName, category)
  li(class="visible-xs-block col-xs-12 project-card flip-container #{category}" data-desc-index="#{index}")
    .flipper
      .front
          //- insert image here
          p #{projectName}
      .back
        p some content

mixin publicity(title, date, type, source, url)
  if url != null
    div.publicity
      p #{type}
      h5: a(href="#{url}" target="_blank") #{title}
      p.source #{source}
      p.date #{date}
  else
    div.publicity
      p #{type}
      h5 #{title}
      p.source #{source}
      p.date #{date}
