mixin project-card(index, projectName, category)
  li(class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project-card #{category}" data-desc-index="#{index}")
    div
      //- insert image here
      p #{projectName}

mixin nav-item(name, href)
  li: a(hrev="#{href}") #{name}
